<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>MyJavaProject.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpIndex</servlet-name>
        <servlet-class>MyJavaProject.signUpIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpPage1</servlet-name>
        <servlet-class>MyJavaProject.signUpPage1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutPage</servlet-name>
        <servlet-class>MyJavaProject.LogoutPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpPage</servlet-name>
        <servlet-class>MyJavaProject.SignUpPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPwdPage</servlet-name>
        <servlet-class>MyJavaProject.ForgotPwdPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpIndex</servlet-name>
        <url-pattern>/signUpIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpPage1</servlet-name>
        <url-pattern>/signUpPage1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutPage</servlet-name>
        <url-pattern>/LogoutPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpPage</servlet-name>
        <url-pattern>/SignUpPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPwdPage</servlet-name>
        <url-pattern>/ForgotPwdPage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
